@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;  /* reset csss */
    padding: 0; /* reset csss */
}

body{
    height: 100vh; /* body é 100% do tamanho da tela do dispositivo de acesso */
    background-color: black;
    color: #f6f6f6;
    box-sizing: border-box; /* garante que o conteudo fique dentro do body */
}

.titulo-destaque {
    color: #22d4fd;
}


.apresentacao {
    margin: 10% 20%; /*primeiro valor vertical, segundo horizontal */
    display: flex; /* flexbox  por padrao por row*/
    align-items: center; /* alinhando itens no centro do elemento pai*/
    justify-content: space-between; /* espançando os itens que estão dentro do elemento pai */ 
}

.apresentacao__conteudo {
    width:  615px;
    display: flex;/* flexbox  por padrao por row*/
    flex-direction: column; /* flexbox  por padrao por row, mudando para column*/
    gap: 40px; /* espaço vertical entre os elementos*/
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo_texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex; /* flexbox  por padrao por row*/
    justify-content: space-between; /* espançando os itens que estão dentro do elemento pai */ 
}

.apresentacao__links__link {
    background-color: #22d4fd;
    width: 280px; /* tamanho do eixo x do elemento */
    text-align: center;  /* centralizando texto no pai */
    border-radius: 16px; /* arredondando as bordas do width */
    font-size: 24px; /* fonte do texto*/
    font-weight: 600;
    padding: 21.5px 0; /* espaço  entre a borda e o conteudo (escrita nesse caso), primeiro valor vertical, segundo horizontal*/
    text-decoration: none; /* removendo sublinhado do a */
    color: black;
    font-family: "Montserrat", sans-serif;
}