@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');


:root{ /* variaveis globais */
    --primary-color:black;
    --second-color:#f6f6f6;
    --terceary-color:#22d4fd;
}



*{
    margin: 0;  /* reset csss */
    padding: 0; /* reset csss */
}

body{
    /* height: 100vh; body é 100% do tamanho da tela do dispositivo de acesso */
    background-color: var(--primary-color) ;
    color: var(--second-color);
    box-sizing: border-box; /* garante que o conteudo fique dentro do body */
}

.cabecalho { 
    padding: 2% 0% 0% 15%; /* espaço  entre a borda e o conteudo (escrita nesse caso), primeiro superior, segundo direito, terceiro inferior 4 esquerdo */
}
.cabecalho__menu {
    display: flex;/* flexbox  por padrao por row*/
    gap: 80px;/* espaço vertical entre os elementos*/
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--terceary-color);
    text-decoration: none;
}

.apresentacao {
    /* margin: 10% 20%; primeiro valor vertical, segundo horizontal */
    padding: 5% 15%;/* espaço  entre a borda e o conteudo (escrita nesse caso), primeiro valor vertical, segundo horizontal*/
    display: flex; /* flexbox  por padrao por row*/
    align-items: center; /* alinhando itens no centro do elemento pai*/
    justify-content: space-between; /* espançando os itens que estão dentro do elemento pai com base na direcao do flexbox*/ 
    gap: 82px;
}

.apresentacao__conteudo {
    width:  50%;
    display: flex;/* flexbox  por padrao por row*/
    flex-direction: column; /* flexbox  por padrao por row, mudando para column*/
    gap: 40px; /* espaço vertical entre os elementos*/
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem; /*utlizando medida relativa*/
    font-family: "Krona One", sans-serif;
}

.titulo-destaque {
    color: var(--terceary-color);
}

.apresentacao__conteudo_texto {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex; /* flexbox  por padrao por row*/
    flex-direction: column; /* flexbox  por padrao por row, mudando para column*/
    justify-content: space-between; /* espançando os itens que estão dentro do elemento pai */ 
    align-items: center; /* alinhando itens no centro do elemento pai com base na direcao do flexbox*/
    gap: 32px;/* espaço vertical entre os elementos*/
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex; /* flexbox  por padrao por row*/
    justify-content: center; /* alinhando elementos no centro */
    gap: 16px;/* espaço horizontal entre os elementos*/
    width: 50%; /* tamanho do eixo x do elemento */
    text-align: center;  /* centralizando texto no pai */
    border-radius: 16px; /* arredondando as bordas do width */
    font-size: 1.5rem; /* fonte do texto*/
    font-weight: 600;
    padding: 21.5px 0; /* espaço  entre a borda e o conteudo (escrita nesse caso), primeiro valor vertical, segundo horizontal*/
    text-decoration: none; /* removendo sublinhado do a */
    color: var(--second-color);
    font-family: "Montserrat", sans-serif;
    border: 2px solid var(--terceary-color); /* tamanho da borda em pixels, cor da borda */
    border-radius: 8px; /* arredondamento da borda do elemento */
    
}

.apresentacao__links__navegacao:hover { /* efeito do botao quando o mouse passa por cima */
    background-color: #272727;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;/* espaço  entre a borda e o conteudo (escrita nesse caso), primeiro valor vertical, segundo horizontal*/
    color: var(--primary-color);
    background-color: var(--terceary-color);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1200px) { /*responsividade com base no dispositivo (pixels)*/

    .cabecalho {
        padding: 8%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse; /*coluna reversa para a foto ficar em cima */
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;/* para ocupar o espaço disponivel */
        text-align: center;
    }
    .apresentacao__links__subtitulo {
        text-align: center;
    }
    
}